*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

.parent{
	background-color: #069;
	width: 100%;
	padding: 90px 0;
	text-align: center;
}

.item{
	display: inline-block;
	width: 300px;
	height: 300px;
	background-color: green;
	margin: 20px 0;
}

/* Fórmulas: Estamos dizendo que a ada 3 elementos aplique o estilo, incluindo o 3º;
.parent div:nth-of-type(3n + 1) div.item{
	background-color: red;
}*/

/*
.parent div:first-child div.item{
	background-color: purple;
}*/

/*
.parent p:first-of-type{
	color: orange;
}*/


.parent p:first-child{
	color: orange;
}