*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

/*
a[href="http://www.google.com"]{
	background: yellow;
}
[href="http://www.google.com"]{
	background: red;
}
*/

a[href*="google"]{
	background-color: blue;
}