*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}


div.box{
	width: 300px;
	height: 300px;
	background-color: green;
	animation-name: animacao_1;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-iteration-count: infinite;

}

@keyframes animacao_1{
	from{
		background-color: green;
	}

	to{
		background-color: red;
	}
}


